<h3>SuperGrid</h3>
<button {{action 'playPause'}}>
	{{#if sequencer.playing}}
		Pause
	{{else}}
		Play
	{{/if}}
</button>

<div class="info">
	Step: {{sequencer.step}}
</div>

<ul class="step-list">
	{{#each junkStepArray}}
		<li {{bind-attr data-step="_view.contentIndex"}}>
			<ul {{bind-attr class=":note-list active"}}>
				{{#with value as parentIndex}}
					{{#each controller.rows}}
						<li class="step-cell" {{action "toggleItem" parentIndex this}}>{{method controller 'lookupItems' parentIndex latin}}</li>
					{{/each}}
				{{/with}}
			</ul>
		</li>
	{{/each}}
</ul>