<h3>SuperGrid</h3>
<button {{action 'playPause'}}>
	{{#if sequencer.playing}}
		Pause
	{{else}}
		Play
	{{/if}}
</button>

<ul class="step-list">
	{{#each junkStepArray}}
		<li {{bind-attr data-step="_view.contentIndex"}}>
			<ul class="note-list">
				{{#with value as parentIndex}}
					{{#each controller.rows}}
						<li class="step-cell" {{action "toggleItem" parentIndex this}}>{{method controller 'lookupItems' parentIndex latin}}{{latin}}</li>
					{{/each}}
				{{/with}}
			</ul>
		</li>
	{{/each}}
</ul>